---
layout: default
title: Rooms | Homegate Inn
---

  <div class="block-30 block-30-sm item" style="background-image: url('/assets/images/background_rooms.JPEG');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-10">
          <span class="subheading-sm">Rooms</span>
          <h2 class="heading">Rooms &amp; Suites</h2>
        </div>
      </div>
    </div>
  </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-7 section-heading">
            <span class="subheading-sm">Rooms</span>
            <h2 class="heading">Our Rooms</h2>
            <p><strong>Each room comes with the following amenities: flat-screen TV with Direct TV service, telephone, microwave, refrigerator, coffee maker, iron/ironing board, hair dryer, all towels and linens, and high-speed wifi. Our room size is 300 square feet, and each room type has smoking and non-smoking options available.</strong></p>
            <br/>
          </div>
          {% for item in site.data.room_types %}
          <div class="col-md-12 mb-5">
            <div class="block-3 d-md-flex">
              <div class="{{ item.img_div_class }}" style="background-image: url('{{ item.image }}');"></div>
              <div class= "{{ item.txt_div_class }}">
                <h2 class="heading">{{item.type}}</h2>
                <ul class="specs mb-5">
                  <li><strong>Occupancy:</strong> {{ item.adults }}</li>
                  <li><strong>Bed Type:</strong> {{ item.bed }}</li>
                </ul>
                <p><a href="tel:6627734005" class="btn btn-primary py-3 px-5">Call for pricing</a></p>
              </div>
            </div>
          </div>  
          {% endfor %}
        </div>
    <!-- start gallery -->
        <div class="row mb-5">
            <div class="col-md-7 section-heading">
              <span class="subheading-sm">Gallery</span>
              <h2 class="heading">More photos</h2>
            </div>
        </div>
        <div class="row">
          {% for item in site.data.gallery_rooms %}
            <div class="col-lg-4 mb-5">
              <div class="block-34">
                <div class="image"> 
                  <a href="#"><img src="{{ item.image }}" alt="Image placeholder"></a>
                </div>
                <div class ="text">
                  <p> {{ item.description }}</p>
                </div>
                </div>
            </div>
          {% endfor %}
          {% for item in site.data.gallery_amenities %}
          <div class="col-lg-4 mb-5">              
            <div class="block-34">
                <div class="image"> 
                  <a href="#"><img src="{{ item.image }}" alt="Image placeholder"></a>
                  </div>
                  <div class ="text">
                    <p> {{ item.description }}</p>
                  </div>
                  </div>
            </div>
          {% endfor %}
          {% for item in site.data.gallery_outdoor %}
            <div class="col-lg-4 mb-5">
              <div class="block-34">
                <div class="image"> 
                  <a href="#"><img src="{{ item.image }}" alt="Image placeholder"></a>
                  </div>
                  <div class ="text">
                    <p> {{ item.description }}</p>
                  </div>
                  </div>
            </div>
          {% endfor %}
            
        </div>
</div>
</div>
</div>
</div>