<footer>
    <footer class="footer">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6 col-lg-4">
              <h3 class="heading-section">About Us</h3>
              <p class="mb-5">Homegate Inn is located in East Central Mississippi, on Highway 25 North, in the town of Louisville. Experience peace and serenity during your stay with us, while being only minutes away from groceries, food, and gas, and only 25 minutes to Starkville, MS.</p>
              <p><a href="tel:6627734005" class="btn btn-primary px-4">Call Now</a></p>
            </div>
            <div class="col-md-6 col-lg-4">
              <h3 class="heading-section">Family owned and operated</h3>
              <div class="block-21 d-flex mb-4">

                <p><a href="rooms" class="btn px-4 btn-primary"> See our rooms</a></p>              </div>
    
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="block-23">
                <h3 class="heading-section">Contact Info</h3>
                  <ul>
                    <li><span class="icon icon-users"></span><span class="text">Managers: Kim and Jay</span></li> 
                    <li><a href="http://maps.google.com/?q=HomeGate Inn Louisville, Metts Street, Louisville, MS" target="_blank"><span class="icon icon-map-marker"></span><span class="text">2565 Metts St. Louisville, MS 39339</span></a></li>
                    <li><a href="tel:6627734005"><span class="icon icon-phone"></span><span class="text">+1 (662) 773 4005</span></a></li>
                  </ul>
                </div>
            </div>
            
            
          </div>
          <div class="row pt-5">
            <div class="col-md-12 text-left">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </footer>
</footer>